body{
  background-color: lightblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
h1 {
  color: navy;
  text-align: center;
  font-family: Arial, sans-serif;
}


